
body {
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    color: white; 
    margin: 5;
    padding: 5;
}
main {
    background-color: #0E1725;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 20px;
}

.picture {
    width: 100%;
    height: auto;
    display: grid;
}

.ligne{
    display:grid;
    grid-column: span 12;
}
.element1{
    grid-column: 1/6;
    color: white;
}

.element2{
    grid-column: 7/12;
    color: white;
}

video {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}
